meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0, user-scalable=no")
//- 電話番号の自動リンク化を無効
meta(name="format-detection" content="telephone=no")
//- ページタイトル
title=pageData.title

//- キーワード
meta(name="keywords" content=pageData.keywords)

//- description
meta(name="description" content=pageData.description)

//- OGP 個別
meta(property="og:title" content=pageData.og_title)
meta(property="og:description" content=pageData.og_description)
meta(property="og:type" content=pageData.og_type)
meta(property="og:url" content=pageData.og_url)
//- meta(property="og:image" content=pageData.og_image)

//- 共通
meta(property="og:site_name" content=pageData.og_site_name)
meta(property="og:locale" content=data.og_locale)



//- ファビコン
//- link(rel="icon", href=`${relativePath}favicon.ico`)
